.button {
    margin-top: 10px;
    cursor: pointer;
    height: 30px;
    width: 177px;
    background: rgb(0, 155, 13);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.button:hover {
    margin-top: 10px;
    cursor: pointer;
    height: 35px;
    width: 177px;
    background: rgb(37, 224, 0);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease 0.3s;
}
.result {
    margin-top: 10px;
    font-weight: bold;
}